.div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    width: 100vw;
}
.input{
    grid-column: 4;
    margin-right: 20px;
    height: 25px;
    border-radius: 8px;
    -webkit-box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.75);
border: none;
}

.boton{
    grid-column: 4;
    width: 60px;
    height: 25px;
    border-radius: 8px;
    border: none;
    -webkit-box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.75);
}  